@use "../custom" as *;
#top-section{ 
    border-bottom: 8px solid #222;
}
.cover{
    width: 100%;
    height: auto;
    .netflix-brand{
        img{
            width: 60%;
            height: 0%;
            max-width: 65%;
        }
    }
    .get-started{
        max-width: 670px;
        width: 100%;
        h1{     
            font-size: rfs-fluid-value(2.125rem);
        }
        h5{
            font-size: rfs-fluid-value(1.5rem);
        }
        p{
            font-size: rfs-fluid-value(.5rem);
        }
    }

}

@include media-breakpoint-down(sm){
    .netflix-brand{
        img{
            width: 200px;
            height: 80px;
            max-width: 65%;
        }
    }
    .email-box{
        margin-top: 2rem;
    }
    
}
@include media-breakpoint-up(lg) {
    .get-started{
        position:absolute;
        top: 37%;
        left: 22%;
        right: 50%;
    }
}
