@use "../custom" as *;

.tv-content {
  padding: rfs-fluid-value(2rem);
  h5{
    margin-top: 1rem;
    text-align: center;
  }
}
.img-box {
  width: 100%;
  max-width: 90%;
  img{
    position: relative;
    z-index: 2;
  }
}
.video-box {
  width: 65%;
  max-width: 65%;
  top: 21%;
  right: 11%;
  left: 13%;
  video {
    width: 100%;
    height: 100%;
  }
}
@include media-breakpoint-down(lg){
  .tv-content{
    margin-top: 1rem;
  }
}
@include media-breakpoint-up(lg){
  .tv-content{
    margin-top: 5rem;
  }
}
