@use "../custom" as *;

.btn-rounded {
  background: #e50914;
  color: $white;
  padding: 4px 9px;
  border-color: #e50914;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-get-started {
  background: $red;
  color: $white;
  border-color: $red;
  &:hover {
    background:#6f0909 !important;
    color: $white;
  }
}

@include media-breakpoint-down(sm) {
  .netflix-brand {
    margin-right: -6rem;
  }
}
@include media-breakpoint-up(md) {
  .btn-rounded {
    margin-right: 3rem;
  }
}
